<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Детали Техники</title>
</head>
<body>
<h1>Детали Техники</h1>
<table>
  <tr>
    <th>Название</th>
    <th>Цена аренды</th>
    <th>Вместимость</th>
    <th>Максимальная скорость</th>
    <th>Описание</th>
    <th>Действия</th>
  </tr>
  <tr>
    <td th:text="${technique.title}"></td>
    <td th:text="${technique.rentPrice}"></td>
    <td th:text="${technique.people}"></td>
    <td th:text="${technique.speed}"></td>
    <td th:text="${technique.description}"></td>
    <td>
      <a th:href="@{/technique/list}">Назад к списку</a>
      <form method="post" action="/technique/delete/{id}" th:object="${technique}">
        <input type="submit" value="Удалить">
      </form>
    </td>
  </tr>
</table>
</body>
</html>
